body {
    margin: 0;
}

.cont-primario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
/* Header */
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 300px;
  }

.left-h {
    display: flex; 
    align-items: center;
    justify-content: left;
    gap: 20px;
    font-size: 24px;
    color: #F9FAF8;
    margin: 12px;
}

.right-h {
    display: flex; 
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap:30px;
    margin: 0;
    padding: 0;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: #E5E7EB;
  }
/* Fine Header */

/* Footer */
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    padding: 30px;
}

/* Fine Footer */



/* Presentazione */
.presentazione {
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.left-p {
    flex:1;
    display: flex;
    justify-content: right;
    align-items: center;
}


.right-p {
    display: flex;
    justify-content: left;
    align-items: center;    
    flex: 1;
    padding: 50px;
}

.right-p img{
    flex: 1;
    max-height: 250px;
    height: auto;
    width: auto;
    max-width: 550px;
}

.left-p .catch {
    font-size: 48px;
    font-weight: bolder;
    color: #E5E7EB;
}

.left-p .catch-desc {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    padding: 12px 24px;
    border-radius: 8px;
}

button.Registrati{
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    font-size: 15px;
    font-weight: bold;
}


.cont-presentazione {
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
    gap: 16px;
}

/* Fine Presentazione */

/* Informazioni */


.info-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
    padding: 50px;
}

.info img {
    height: 120px;
    width: 120px;
    border-radius: 8px;
    border: 3px solid royalblue;
    margin-bottom: 10px;
}

.info {
    max-width: 200px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
}

/* Fine informazioni */

/* Citazione */

.contenitore-cit {
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}


.citazione {
    display: flex;
    flex-direction: column;
    width: 900px;
    padding: 60px;
    gap: 15px;
}

.autore {
    font-weight: bolder;
    text-align: end;
}

/* Fine Contenitore */